apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: insurance-be-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: insurance-be-service
                port:
                  number: 80